:root {
    --verde: #044A2A;
    --amarillo: #DE9817;
    --gris: #272822;
    --azul: #2450A6;
    --claro: #B4D9C4;
    --blanco: #F2F2F2;
}

.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding-top: 10vh;
}

/* CONTEXTO 3D Y TAMAÑO DEL LIBRO */
.book {
    width: 80vw; 
    height: 80vh;
    position: relative;
    margin: 0 20px;
    transform-style: preserve-3d; 
    perspective: 1500px;
}

/* PÁGINAS */
.page {
    width: 40vw; 
    height: 100%;
    position: absolute;
    top: 0;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--gris);
    border: 1px solid #32352C;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0 15px 15px 0;
    color: var(--blanco);
}

/* PÁGINA ESTÁTICA IZQUIERDA (SIEMPRE VISIBLE) */
.static-page {
    left: 0;
    z-index: 10;
    box-shadow: -5px 0 10px -5px rgba(0, 0, 0, 0.2);
    border-radius: 15px 0 0 15px;
}

/* PÁGINAS VOLTEABLES */
.flippable {
    left: 40vw;
    transform-style: preserve-3d;
    transform-origin: left center;
    transition: transform 0.8s ease-in-out;
    cursor: default;
    box-shadow: 5px 0 10px -5px rgba(0, 0, 0, 0.2);
}

/* ORDEN Z-INITIAL DE PÁGINAS VOLTEABLES */
.page-2 { z-index: 90; }
.page-3 { z-index: 80; }
.page-4 { z-index: 70; }
.page-5 { z-index: 60; }
.page-6 { z-index: 50; }
.page-7 { z-index: 40; }
.page-8 { z-index: 30; }
.page-9 { z-index: 20; }

/* ESTADO VOLTEADO */
.flippable.flipped {
    transform: rotateY(-180deg);
    z-index: 25 !important; /* Nivel intermedio cuando está volteándose */
}

/* CARAS DE PÁGINAS VOLTEABLES */
.page-side {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.back-face {
    transform: rotateY(180deg);
}

/* ESTILO DE NUMERACIÓN */
.page-number {
    text-align: center;
    font-size: 0.8em;
    color: #888;
    margin-top: auto;
}

/* ESTILO DE BOTONES */
button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 100%;
    border: 1px solid white;
    color: white;
    background-color: #DE9817;
    transition: background-color 0.3s;
}

button:hover:not(:disabled) {
    background-color: #044A2A;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}